body {
/*  background-image: url("/images/sunrise.jpg");*/
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;

}
@font-face {
   font-family: futura;
   src: url(/fonts/futura/Futura-Light.tff);
}
@font-face {
   font-family: Montserrat;
   src: url(/fonts/montserrat/Montserrat-Light.otf);
}
.bar{
  margin-top: 12%;
  opacity: 1;
  color:white;
  width:100%;
  display: flex;
  background-color: #EFBBCC;
  flex-direction:column;
  justify-content: center;
}

.navContainer{
  display: flex;
  flex-direction:column;
  justify-content: center;
  opacity: 1;
  background-color: inherit;
  float: right;
  margin-left: 45%;
  align-items: flex-start;

}
.links{
	float: left;
}


nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: left;
    font-size: 1em;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
    line-height: 50%;
    font-family: Montserrat;
    text-align: left;
    transition: color 0.4s ease-out;
    -webkit-transition: color 0.4s ease-out;
}
a.p {
    text-decoration: none;
    color: #e07999;
    line-height: 50%;
    font-family: Montserrat;
    text-align: left;
    transition: color 0.4s ease-out;
    -webkit-transition: color 0.4s ease-out;
}
a:hover {
    color: gray;
}
h1 {
    font-size: 3em;
    text-align: left;
    line-height: 50%;

}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: left;
    line-height: 40%;
    color: black;
    font-family: Montserrat;


}
.title{
  margin-top:0px;
  margin-bottom: 0px;
  line-height: 50%;

}
p {
    font-family: Montserrat;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
.imageContainer{
  margin-left: 20%;

}
img.me {
    border-radius: 50%;
    width: 300px;
    float: left;
    opacity: 1;
    z-index: 10;
    position: absolute;
    top:15%;

}
img.icons {
    height: 50px;
    opacity: 1;
    padding:10px;
    transition: opacity 0.4s ease-out;
    -webkit-transition: opacity 0.4s ease-out;
}
img.icons:hover{
  opacity: 0.5;

}
.blurb{
  margin-top: 9%;
  margin-right: 10%;
  margin-left: 10%;
}
