body {
/*  background-image: url("/images/sunrise.jpg");*/
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
  background-size: cover;

}
.whiteContainer{
  margin: 60px auto;
  width: 70%;
  opacity: 1;
  color:white;
  display: flex;
  background-color: white;
}
nav ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    text-align: left;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: black;
    text-align: left;
    transition: color 0.4s ease-out;
    -webkit-transition: color 0.4s ease-out;
}
a:hover {
    color: gray;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: left;
    padding-left: 10px;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
img.me {
    border-radius: 50%;
    width: 400px;
    align-self: flex-end;
    padding-right: 20px;
    opacity: 1;
}
img.icons {
    height: 50px;
    opacity: 1;
    padding:10px;
    transition: opacity 0.4s ease-out;
    -webkit-transition: opacity 0.4s ease-out;
}
img.icons:hover{
  opacity: 0.5;

}

.navContainer{
	float: left;
	width:50%;
  height:400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  background-color: inherit;
}
.links{
	float: left;
}
.imageContainer{
	float: right;
	width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: inherit;
  opacity: 1;
}
